header {
  
}

nav {
  margin: 0;
  display: flex;
}

nav span {
  width: 25%;
  padding: 2rem 0rem;
}

nav p {
  margin: 0;
  display: inline;
  padding: 2rem
}

nav ul {
  margin: 0;
  padding: 2rem 0rem;
  width: 100%;
  position: absolute;
  text-align: center;
}

nav li {
  list-style: none;
  display: inline;
}

nav a:hover {
  background-color: #7856FF;
  cursor: pointer;
}

nav li:hover > a {
  color: #FFFFFF;
}

nav a {
  text-decoration: none;
  padding: 2rem
}

nav a:visited {
  color: black;
}

.homeBanner {
  display: flex;
  padding: 10rem 0rem;
  flex-grow: 0.95;
}

.homeBannerLeft {
  width: 50%;
  padding: 0rem 5rem;
}

.homeBannerLeft h2 {
  font-weight: 400;
  width: 75%;
}

.homeBannerRight {
  width: 50%;
  padding: 0rem 5rem;
  text-align: center;
}

.homeBannerRight img {
  width: 75%;
}

.primaryButton {
  background-color: #7856FF;
  color: #FFFFFF;
  min-width: 150px;
  height: 44px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
  margin: 0.67em 0;
}

.primaryButton:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.primaryButton:focus {
  outline: none;
}

.panelLeft {
  display: flex;
  margin: auto;
  max-width: 70%;
}

.panelMid {
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 70%;
}

.panelRight {
  display: flex;
  flex-direction: row-reverse;
  max-width: 70%;
  margin: auto;
}

.panelContent {
  padding: 3.5rem 2rem;
  width: 350px;
  display: flex;
}

.panelContent h3{
  font-size: 1.5rem;
  margin-top: 0;
}

.panelContent .panelIcon{
  position: relative;
  top: -5px;
  margin-right: 10px;
}

.panelContent .panelIconShare{
  position: relative;
  top: -7px;
  margin-right: 10px;
}

.panelContent {
  opacity: 0;
}

.easeInLeft {
  animation-duration: 3s;
  animation-name: slideInLeft;
  opacity: 100!important;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-150px);
    opacity: 0;
  }

  to {
    transform: translateX(0px);
    opacity: 100;
  }
}

.easeInRight {
  animation-duration: 3s;
  animation-name: slideInRight;
  opacity: 100!important;
}

@keyframes slideInRight {
  from {
    transform: translateX(150px);
    opacity: 0;
  }

  to {
    transform: translateX(0px);
    opacity: 100;
  }
}

.panelHeader {
  text-align: center;
  position: relative;
  top: -75px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.panelHeader h3 {
  font-weight: 400;
  width: 100%;
}

.panelHeader svg {
  animation-duration: 3s;
  animation-name: arrowDown;
  animation-iteration-count:infinite;
}

.downArrow {
  border-radius: 20px;
  padding: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 10px 20px rgba(0,0,0,0.24);
}

.downArrow:hover {
  background-color: #7856FF;
}

.downArrow:hover g {
  stroke: #FFFFFF;
}

.upArrow {
  border-radius: 40px;
  padding: 8px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 10px 20px rgba(0,0,0,0.24);
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  background-color: #FFFFFF;
}

.upArrow:hover {
  background-color: #7856FF;
}

.upArrow:hover g {
  stroke: #FFFFFF;
}

@keyframes arrowDown {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0px);
  }
}

.bannerWrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0rem 2rem 0rem 2rem;
}

/*MEDIA QUERIES*/
/*WIDTH*/
@media only screen and (max-width: 1300px) {
  .homeBannerRight img {
    width: 100%;
  }
  .homeBannerLeft h2 {
    width: 100%;
  }
}

@media only screen and (max-width: 1100px) {
  .homeBannerRight {
    display: none;
  }
  .homeBannerLeft {
    width: 60%;
  }
}

@media only screen and (max-width: 875px) {
  .homeBannerLeft {
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  nav ul {
    padding: 2rem 0rem;
    text-align: right;
  }
}

@media only screen and (max-width: 600px) {
  .homeBannerLeft {
    padding: 0rem 1rem;
  }
}

@media only screen and (max-width: 600px) {
  .upArrow {
    padding: 5px;
    bottom: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .panelLeft, .panelMid, .panelRight {
    max-width: 90%;
  }
  .panelLeft h3, .panelMid h3, .panelRight h3 {
    font-size: 1.3rem;
  }
  .panelContent {
    width: 100%;
    padding: 2rem;
  }
}

@media only screen and (max-width: 450px) {
  .homeBannerLeft h1 {
    font-size: 1.75em;
  }
  .homeBannerLeft h2 {
    font-size: 1.25em;
  }
  .panelHeader h3 {
    font-size: 0.8em;
  }
  nav {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 350px) {
  nav a {
    padding: 2rem 1rem;
  }
  nav span p {
    padding: 2rem 1rem;
  }
}

/*HEIGHT*/
@media only screen and (max-height: 1100px) {
  .homeBanner {
    flex-grow: 0.90;
  }
}

@media only screen and (max-height: 950px) {
  .homeBanner {
    flex-grow: 0.80;
  }
}

@media only screen and (max-height: 780px) {
  .homeBanner {
    padding: 4rem 0rem;
    flex-grow: 0.80;
  }
}

@media only screen and (max-height: 615px) {
  .homeBanner {
    padding: 2rem 0rem;
    flex-grow: 0.80;
  }
}

@media only screen and (max-height: 500px) {
  .homeBanner {
    flex-grow: 0.75;
  }
}